<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="30 seconds">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{MM-dd HH:mm:ss.SSS} %.-1level [%thread] [%logger{0}]
                %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="IT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>it.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>it.log.%d{yyyyMMdd}.%i
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 256MB -->
                <maxFileSize>256MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d{MM-dd HH:mm:ss.SSS} %.-1level [%thread] [%logger{0}]
                %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.itjenny" additivity="false">
        <level value="info" />
        <appender-ref ref="IT" />
    </logger>

    <root level="ERROR">
    </root>

</configuration>