@font-face {
	font-family: 'HUedgeGothic110';
	font-style: normal;
	font-weight: normal;
	src: url('/font/HUedgeGothic110.eot');
	src: url('/font/HUedgeGothic110.eot?#iefix') format('embedded-opentype'),
		url('/font/HUedgeGothic110.woff') format('woff'), url('/font/HUedgeGothic110.ttf')
		format('truetype');
}

@font-face {
	font-family: 'HUzen120';
	font-style: normal;
	font-weight: normal;
	src: url('/font/HUzen120.eot');
	src: url('/font/HUzen120.eot?#iefix') format('embedded-opentype'),
		url('/font/HUzen120.woff') format('woff'), url('/font/HUzen120.ttf')
		format('truetype');
}

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: 'HUedgeGothic110';
	font-size: 30px;
	line-height: 200%;
}

code,pre {
	text-align: left;
	font-family: 'HUedgeGothic110';
	font-size: 25px;
	line-height: 200%;
}

.backgroundTitle {
	min-height: 100%;
	text-align: center;
	color: #000;
	background-color: #FFF;
}

/* a {
	color: #fff;
}

a:link {
	text-decoration: none;
	color: #fff;
}

a:visited {
	text-decoration: none;
	color: #fff;
}

a:active {
	text-decoration: none;
	color: #fff;
}

a:hover {
	text-decoration: none;
	color: #fff;
} */

.background1 {
	min-height: 100%;
	text-align: center;
	color: #FFF;
	background-color: #D82546;
}

.background1 pre {
	border: 0px;
	color: #FFF;
	background-color: #B71735;
}

.background2 {
	min-height: 100%;
	text-align: center;
	color: #FFF;
	background-color: #B71735;
}

.background2 pre {
	border: 0px;
	color: #FFF;
	background-color: #D82546;
}

.background3 {
	min-height: 100%;
	text-align: center;
	color: #FFF;
	background-color: #0b9be1;
}

.background3 pre {
	border: 0px;
	color: #FFF;
	background-color: #066c9e;
}

.background4 {
	min-height: 100%;
	text-align: center;
	color: #FFF;
	background-color: #066c9e;
}

.background4 pre {
	border: 0px;
	color: #FFF;
	background-color: #0A4763;
}

.background5 {
	min-height: 100%;
	text-align: center;
	color: #FFF;
	background-color: #B72256;
}

.background5 pre {
	border: 0px;
	color: #FFF;
	background-color: #911D43;
}

.background6 {
	min-height: 100%;
	text-align: center;
	color: #FFF;
	background-color: #911D43;
}

.background6 pre {
	border: 0px;
	color: #FFF;
	background-color: #5B0B26;
}

.background7 {
	min-height: 100%;
	text-align: center;
	color: #FFF;
	background-color: #26B1AA;
}

.background7 pre {
	border: 0px;
	color: #FFF;
	background-color: #0F9B92;
}

.background8 {
	min-height: 100%;
	text-align: center;
	color: #FFF;
	background-color: #0F9B92;
}

.background8 pre {
	border: 0px;
	color: #FFF;
	background-color: #14726C;
}

.background9 {
	min-height: 100%;
	text-align: center;
	color: #FFF;
	background-color: #FD6632;
}

.background9 pre {
	border: 0px;
	color: #FFF;
	background-color: #D64F21;
}

.background10 {
	min-height: 100%;
	text-align: center;
	color: #FFF;
	background-color: #D64F21;
}

.background10 pre {
	border: 0px;
	color: #FFF;
	background-color: #FD6632;
}

.top_fixed {
	position: fixed;
	top: 0px;
	right: 0px;
}

.menu {
	line-height: 45px;
	width: 30px;
	height: 30px;
	border: none;
	display: inline-block;
	opacity: 0.4;
	border-radius: 5px;
	background-color: #fcfcfc;
	z-index: 1;
	cursor: pointer;
}