h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 50px 0 40px 0;
	font-family: inherit;
	font-weight: bold;
	line-height: 1;
	color: inherit;
	text-rendering: optimizelegibility;
}

.keynote h1 {
	font-size: 90px;
	line-height: 100px;
}

.keynote h2 {
	font-size: 90px;
	line-height: 80px;
}

.keynote h3 {
	font-size: 60px;
	line-height: 70px;
}

.keynote h4 {
	font-size: 50px;
	line-height: 60px;
}

.keynote h5 {
	font-size: 40px;
	line-height: 50px;
}

.keynote h6 {
	font-size: 30px;
	line-height: 40px;
}

.word h1 {
	font-size: 40px;
	line-height: 50px;
}

.word h2 {
	font-size: 35px;
	line-height: 45px;
}

.word h3 {
	font-size: 30px;
	line-height: 40px;
}

.word h4 {
	font-size: 25px;
	line-height: 35px;
}

.word h5 {
	font-size: 20px;
	line-height: 30px;
}

.word h6 {
	font-size: 15px;
	line-height: 25px;
}

p {
	text-align: left;
	margin: 0 10%;
}

li {
	text-align: left;
	margin: 0 10%;
}

li p {
	text-align: left;
	margin: 0 0;
}

blockquote {
	text-align: left;
}

blockquote p {
	margin-bottom: 0;
	font-size: 30px;
	font-weight: 300;
}

code,pre {
	padding: 0 3px 2px;
	color: #333333;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

pre {
	display: inline-block;
	padding: 6px 15px;
	margin: 15x 0;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#container {
	background-color: #26B1AA;
	text-align: center;
}

.background {
	display: inline-block;
	min-height: 100%;
	color: #FFF;
	/* 	background-color: #D64F21; */
}