body {
    background-image: url(/img/background1.jpg);
}

.keynote {
    height: 100%;
}

.keynote h1 {
    font-size: 90px;
    line-height: 100px;
}

.keynote h2 {
    font-size: 90px;
    line-height: 100px;
}

.keynote h3 {
    font-size: 60px;
    line-height: 70px;
}

.keynote h4 {
    font-size: 50px;
    line-height: 60px;
}

.keynote h5 {
    font-size: 40px;
    line-height: 50px;
}

.keynote h6 {
    font-size: 30px;
    line-height: 40px;
}

.word h1 {
    font-size: 40px;
    line-height: 50px;
}

.word h2 {
    font-size: 35px;
    line-height: 45px;
}

.word h3 {
    font-size: 30px;
    line-height: 40px;
}

.word h4 {
    font-size: 25px;
    line-height: 35px;
}

.word h5 {
    font-size: 20px;
    line-height: 30px;
}

.word h6 {
    font-size: 15px;
    line-height: 25px;
}

p,blockquote,ul,ol,h1,h2,h3,h4,h5,h6 {
    display: table;
    margin: 0 auto;
}

ul,ol,blockquote {
    text-align: left;
}

li {
    text-align: left;
}

li p {
    display: block;
    margin: 0 0;
}

blockquote p {
    margin-bottom: 0;
    font-size: 30px;
    font-weight: 300;
}

pre {
    margin: 0 10%;
}

li pre {
    margin: 0;
}

#container {
    padding: 0 5%;
}

.backgroundTitle {
    text-align: center;
    min-height: 100%;
    padding-bottom: 5%;
}

.keynote .background {
    min-height: 100%;
    padding-bottom: 5%;
}

.word .background {
    height: 100%;
}

.word .page {
    display: none;
}