<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="30 seconds">
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{MM-dd HH:mm:ss.SSS} %.-1level [%thread] [%logger{0}:%L] %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="com.itjenny" additivity="false">
		<level value="debug" />
		<appender-ref ref="CONSOLE" />
	</logger>
	
	<logger name="org.springframework" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<root level="INFO">
	</root>
</configuration>